<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- CSS & Extra CSS -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/common.css">
        {% block extra_css %}{% endblock %}

        <!-- Pagetitle -->
        <title>{% block page_title %}Mirjam's Eventmanager{% endblock %}</title>

        <!-- Stylesheets here -->
    </head>

    <body>
        <header>
            <a href="{% url 'logout' %}">Logout</a>
        </header>
        
        {% block content %}
        
        
        {% endblock %}
    </body>
</html>
