{% extends "eventmanager/base.html" %}

{% block content %}
    <h1>Create A New Event</h1>

    <form method="post" enctype="multipart/form-data">
        <label>
            <span class="txt">
              Enter the name of the event:
            </span>
            <input id="" name="" type="text" maxlength="50"> <br>

            <span class="txt">
              When is the event being held? (dd/mm/yyyy)
            </span>
            <input id="" name="" type="date"> <br>

            <span class="text">
                Upload Participant List (.csv files only for now)
            </span>
            <input type="file" id="" name="" accept=".csv"> <br>
            
            <input class="btn" type="submit" value="Enter Event into Database">
          </label>
    </form>
    
    <!-- JavaScript -->
{% endblock %}
