{% extends "eventmanager/base.html" %}
{% load static %} {# THIS NEEDS TO BE IN EVERY HTML FILE (that uses the static command)#}

{% block content %}
    <main role="main" class="inner cover text-center">
        <h1 class="cover-heading">Welcome to Miri's Eventmanager!</h1>

        <h4 class="lead">Choose one of the options below:</h4>

        <div class="row lead my-4">
            <div class="col-12 col-md-3 offset-md-3">
                <a class="btn btn-lg btn-info btn-block" role="button" href="{% url 'eventmanager:create_event' %}">Create New Event</a> <br>
            </div>
            <div class="col-12 col-md-3">
                <button class="btn btn-lg btn-warning btn-block" type="button" data-toggle="collapse" data-target="#previousEvents" aria-expanded="false" aria-controls="previousEvents">
                    Manage Existing Events
                </button>
            </div>
        </div>

        <main role="main" class="collapse inner cover text-center" id="previousEvents">
            <div class="mb-4">
                <h4>Choose an existing event:</h4>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover col-12 col-md-6 offset-md-3">
                    <thead class="thead-light">
                        <th scope="col">Event name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Registrations</th>
                        <th scope="col">Go to event</th>
                    </thead>
                    <tbody>
                        {% for event in latest_event_list %}
                        <tr scope="row">
                            <td>{{ event.name }}</td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.count_registrations }}</td>
                            <td>
                                <a class="btn btn-sm btn-outline-dark" href="{% url 'eventmanager:manage_event' event.id %}">Manage</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div>
                <a href="{% url 'eventmanager:list_all_events' %}" id="allEvents">see all events</a>
            </div>
        </main>
    </main>

    <!-- JavaScript -->
{% endblock %}
