{% extends "eventmanager/base.html" %}
{% load static %} {# THIS NEEDS TO BE IN EVERY HTML FILE (that uses the static command)#}

{% block content %}
    <main role="main" class="inner cover text-center">
        <h1 class="cover-heading">Welcome to Miri's Eventmanager!</h1>

        <h4 class="lead">Choose one of the options below:</h4>
        
        <div class="row lead my-4">
            <div class="col-12 col-md-3 offset-md-3">
                <a class="btn btn-lg btn-info btn-block" role="button" href="{% url 'eventmanager:create_event' %}">Create New Event</a> <br>
            </div>
            <div class="col-12 col-md-3">
                <a class="btn btn-lg btn-warning btn-block" role="button" href="">Manage Existing Events</a>
            </div>
        </div>
    </main>

    <!-- JavaScript -->
{% endblock %}
