{% extends "eventmanager/base.html" %}

<!-- Imports Cripsy for Form Styling -->
{% load crispy_forms_tags %}

{% block content %}

<h1 class="text-center">Managing Event "{{ event.name }}" on {{ event.date }}</h1>

<div class="text-center">
    <button class="btn btn-warning my-3" type="button" data-toggle="collapse" data-target="#uploadParticipants" aria-expanded="false" aria-controls="collapseExample">
        Upload List of Participants
    </button>
</div>
    <!-- Upload Participant List -->
<div id="uploadParticipants" class="collapse card card-body bg-secondary text-white py-4">
    <form class="mb-3" action="{% url 'eventmanager:manage_event' event.id %}" method="post" enctype="multipart/form-data">
        <p>Upload the participant list as a .csv here.</p>
        {{ form|crispy }}
        <label for="uploadCSV" class="form-label">
            <p class="form-text">(Columns: organisation, first_name, last_name, position, email (must exist), phone_number, comment)</p>
            <input type="submit" value="Submit" id="uploadCSV">
        </label>
        {% csrf_token %}
    </form>
</div>

<!-- Show Current Participant List -->
{% if registration_list %}
<h3 class="py-3 text-center">List of registered participants for this event</h3>
<div class="py-3 text-center">
    <p>Checked-in: {{ event.count_participants }}</p>
</div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">organisation</th>
                    <th scope="col">first_name</th>
                    <th scope="col">last_name</th>
                    <th scope="col">position</th>
                    <th scope="col">email</th>
                    <th scope="col">phone_number</th>
                    <th scope="col">comment</th>
                    <th scope="col">created_at</th>
                    <th scope="col">is checked in?</th>
                    <th scope="col">check in</th>
                    <th scope="col">edit</th>
                </tr>
            </thead>
            {% for rego in registration_list %}
                <tr scope="row" {% if rego.checked_in_at %} class="table-success" {% else %} class="table-light" {% endif %}>
                    <td>{{ rego.participant.organisation }}</td>
                    <td>{{ rego.participant.first_name }}</td>
                    <td>{{ rego.participant.last_name }}</td>
                    <td>{{ rego.participant.position }}</td>
                    <td>{{ rego.participant.email }}</td>
                    <td>{{ rego.participant.phone_number }}</td>
                    <td>{{ rego.participant.comment }}</td>
                    <td>{{ rego.created_at }}</td>
                    <td> {{ rego.checked_in_at }}</td>
                    <td>
                        {% if not rego.checked_in_at %}
                        <a href="{% url 'eventmanager:checkin' event.id rego.participant.id%}">Checkin</a>
                        {% else %}
                        <a href="{% url 'eventmanager:cancel_checkin' event.id rego.participant.id %}">Cancel Checkin</a>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'eventmanager:edit_participant' rego.participant.id %}">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p class="text-center my-4">No participants yet registered for this event.</p>
{% endif %}

<!-- JavaScript -->
{% endblock %}
